<div *ngIf="isSelected">
    <div class="row">
        <div class="col-8 px-2">
            
            <button class="btn btn-light" >Bulk Update</button>
            
            
        </div>
    </div>
</div>

 
<!-- <table class="table table-hover ">
    <thead>
      <tr>
        <th class="bg-dark" style="color: white;" *ngFor="let head of headElements" scope="col">{{head}} </th>
      </tr>
    </thead>
    <tbody *ngFor="let datas of data">
      <tr >
        <td>{{datas.email}}</td>
        <td>{{datas.trip_name}}</td>
        <td>{{datas.flight[0].f_Arrive_At}}</td>
        
      </tr>
    </tbody>
  </table> -->

  <div style="position: absolute; width: 85rem; top: 2rem; padding-left: 10px;">
    <ngx-datatable class="material" [rows]="datas" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
      [rowHeight]="40" [limit]="10" [scrollbarV]="false" [sorts]="[{prop: 'name', dir: 'asc'}]" [selected]="selected"
      [selectionType]="selectionType.checkbox"
      (activate)="onActivate($event)"
      (select)="onSelect($event)">

      <ngx-datatable-column
      [sortable]='false'
      [canAutoResize]='false'
      [draggable]='false'
      [headerCheckboxable]='true'
      [checkboxable]='true'
      >
  </ngx-datatable-column>
      
          
        
      <ngx-datatable-column name="TRIP#" prop="email" [width]="100"></ngx-datatable-column>
      <ngx-datatable-column name="TRIP_DETAILS" prop="trip_name"> </ngx-datatable-column>

      <ngx-datatable-column name="DESTINATION">
        <ng-template let-row="row" let-value="value" let-i="index" ngx-datatable-cell-template>
          {{row.flight[0].f_Arrive_At}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="STATUS" prop="status"> </ngx-datatable-column>

      <ngx-datatable-column name="APPROVER" prop="approver"> </ngx-datatable-column>
    </ngx-datatable>
  </div>

  <div>
    <div style="position: abs0lute; top:2rem; z-index: 1;">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
        viewBox="0 0 16 16" style="cursor: pointer; margin-left: 80rem;" data-bs-toggle="modal"
        data-bs-target="#searchModal">
        <path
          d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
      </svg>
    </div>
  </div>

     <!-- Modal -->
     <div class="modal" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content" style="width: 70rem; position: relative; right: 19rem; height: 42rem;">
              <div class="modal-header" style="background-color: #f8f8fd;">
                  <div style="display: flex; flex: 1; margin-top: 1rem;">
                      <div >
                          <p>Search</p>
                      </div>
                      <div >
                          <div class="input-group mb-3" style="width: 22rem; margin-left: 5rem;">
                              <select class="form-select" id="inputGroupSelect02">
                                  <option selected></option>
                                  <option value="1">One</option>
                                  <option value="2">Two</option>
                                  <option value="3">Three</option>
                              </select>
                          </div>
                      </div>
                  </div>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body" style="display: flex; flex-direction: row;">
                  <!-- column-1 -->
                  <div style="margin-top: 2rem;">
                      <div style="display: flex; flex-direction: row;">
                          <p>Trip#</p>
                          <input type="text" class="form-control"  aria-label="Username" aria-describedby="basic-addon1" style="margin-left: 6rem;">
                      </div><br>
                      <!--  -->
                      <div style="display: flex; flex-direction: row; position: relative; top: 1rem;">
                          <p>Start Date</p>
                          <div style="display: flex; flex-direction: row; margin-left: 4rem;">
                              <div class="form-group mb-5" style="display: flex; flex: 1; width: 10rem;">
                                  <input type="date" class="form-control form-control-lg" placeholder="eg:31/01/2021">
                              </div>
                              <div class="form-group mb-5" style="display: flex; flex: 1; width: 10rem; margin-left: 2rem;">
                                  <input type="date" class="form-control form-control-lg" placeholder="eg:31/01/2021">
                              </div>
                          </div>
                      </div>
                      <!--  -->
                      <div style="display: flex; flex-direction: row; position: relative; top: 1rem;">
                          <p>Destination City</p>
                          <div>
                              <div class="input-group mb-3" style="width: 22rem;  margin-left: 1.5rem;">
                                  <select class="form-select" id="inputGroupSelect02">
                                      <option selected></option>
                                      <option value="1">One</option>
                                      <option value="2">Two</option>
                                      <option value="3">Three</option>
                                  </select>
                              </div>
                          </div>
                      </div><br>
                      <!--  -->
                      <div style="display: flex; flex-direction: row; margin-top: 2.5rem;">
                          <p>Filter By</p>
                          <div>
                              <div class="input-group mb-3" style="width: 22rem;  margin-left: 5rem;">
                                  <select class="form-select" id="inputGroupSelect02">
                                      <option selected></option>
                                      <option value="1">One</option>
                                      <option value="2">Two</option>
                                      <option value="3">Three</option>
                                  </select>
                              </div>
                          </div>
                      </div><br>
                      <!--  -->
                      <div style="display: flex; flex-direction: row;">
                          <p>Customer</p>
                          <div>
                              <div class="input-group mb-3" style="width: 22rem;  margin-left: 4.2rem;">
                                  <select class="form-select" id="inputGroupSelect02">
                                      <option selected></option>
                                      <option value="1">One</option>
                                      <option value="2">Two</option>
                                      <option value="3">Three</option>
                                  </select>
                              </div>
                          </div>
                      </div><br>
                  </div>
                  <!-- column-2 -->
                  <div style="margin-left: 3rem; margin-top: 2rem;">
                      <div style="display: flex; flex-direction: row;">
                          <p>Travel Type</p>
                          <div style="display: flex; flex: 4;">
                              <div class="input-group mb-3" style="width: 22rem; margin-left: 4rem;">
                                  <select class="form-select" id="inputGroupSelect02">
                                      <option selected></option>
                                      <option value="1">One</option>
                                      <option value="2">Two</option>
                                      <option value="3">Three</option>
                                  </select>
                              </div>
                          </div>
                      </div><br>
                      <!--  -->
                      <div style="display: flex; flex-direction: row;">
                          <p>End Date</p>
                          <div style="display: flex; flex-direction: row; margin-left: 5rem;">
                              <div class="form-group mb-5" style="display: flex; flex: 1; width: 10rem;">
                                  <input type="date" class="form-control form-control-lg" placeholder="eg:31/01/2021">
                              </div>
                              <div class="form-group mb-5" style="display: flex; flex: 1; width: 10rem; margin-left: 2rem;">
                                  <input type="date" class="form-control form-control-lg" placeholder="eg:31/01/2021">
                              </div>
                          </div>
                      </div>
                      <!--  -->
                      <div style="display: flex; flex-direction: row;">
                          <p>Budget Amount</p>
                          <div>
                              <div style="display: flex; flex-direction: row; margin-left: 2rem;">
                                  <div class="form-group mb-5" style="display: flex; flex: 1; width: 10rem;">
                                      <input type="text" class="form-control form-control-lg" >
                                  </div>
                                  <div class="form-group mb-5" style="display: flex; flex: 1; width: 10rem; margin-left: 2rem;">
                                      <input type="text" class="form-control form-control-lg" >
                                  </div>
                              </div>
                          </div>
                      </div>
                      <!--  -->
                      <div style="display: flex; flex-direction: row; position: relative; top: 1rem;">
                          <p>Buisness Purpose</p>
                          <input type="text" class="form-control"  aria-label="Username" aria-describedby="basic-addon1" style="margin-left: 1rem; width: 22rem;">
                      </div><br>
                      <!--  -->
                      <div style="display: flex; flex-direction: row; position: relative; top: 2rem;">
                          <p>Project</p>
                          <div>
                              <div class="input-group mb-3" style="width: 22rem;  margin-left: 5.8rem;">
                                  <select class="form-select" id="inputGroupSelect02">
                                      <option selected></option>
                                      <option value="1">One</option>
                                      <option value="2">Two</option>
                                      <option value="3">Three</option>
                                  </select>
                              </div>
                          </div>
                      </div><br>
                  </div>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
              </div>
          </div>
      </div>
  </div>    


