<!-- <p>testing works!</p>
<div *ngFor="let item of formArray; let i = index">
    data
    <button
    type="button"
    class="btn deleteButton btn-outline-secondary btn-sm"
    style="margin-right: 1rem"
    (click)="filterArray(i)"
    >
    <i class="fas fa-trash-alt"></i> Delete
    </button>
    
    <button
            type="button"
            class="btn saveButton btn-outline-secondary btn-sm"
            (click)="formArray.push({})"
          >
            Add another work experience
    </button>
</div> -->



<!-- <div class="content" ng-drop-image ng-model="image.src">
  <img ng-src="image.src" />
  <button class = "btn btn-secondary">Hello</button>
</div>

<script>
  angular.module('app', ['ngDropImage']);
</script>  -->

<!-- <input type="file" (change)="onFileChanged($event)">
<input
  style="display: none"
  type="file" (change)="onFileChanged($event)"
  #fileInput>
<button (click)="fileInput.click()">Select File</button>

<input
  style="display: none"
  type="file" (change)="onFileChanged($event)"
  #fileInput>
<button (click)="fileInput.click()">Select File</button>
<button (click)="onUpload()">Upload!</button> -->


<!-- 
<p>A custom dropzone.</p>

<div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" (change)="onSelect($event)">
	<ngx-dropzone-label>
		<div>
			<h2>My custom dropzone</h2>
		</div>
	</ngx-dropzone-label>
	<ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">
		<ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
	</ngx-dropzone-image-preview>
</div> -->



<!-- <div class="row">
  <div class="col-4">
    <nav>
      <div class="topnav navbar navbar-expand-lg">
          <div class="collapse navbar-collapse " id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                  
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All Expenses
    
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="#">All</a>
                          <a class="dropdown-item" href="#">Expired</a>
                          <a class="dropdown-item" href="#">Uncategorized</a>
                          <div class="dropdown-divider"><hr></div>
                          <a class="dropdown-item" href="#">+ New Custom view</a>
                      </div>
                  
    
              </ul>
          </div>
          <div class="button-right">
              <button type="button" class="btn btn-primary" routerLink="/expenses">+</button>
              <button type="button" class="btn btn-light">...</button>
              
          </div>
      </div>
    </nav>
  </div>
  <div class="col-8">
    <nav class="navbar navbar-default navbar-expand-md navbar-light">
      <div class="topnav navbar navbar-expand-lg">
          <p>Automobile Expenses</p>
          <div class="collapse navbar-collapse " id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                  
                      
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="#">All</a>
                          <a class="dropdown-item" href="#">Expired</a>
                          <a class="dropdown-item" href="#">Uncategorized</a>
                          <div class="dropdown-divider"><hr></div>
                          <a class="dropdown-item" href="#">+ New Custom view</a>
                      </div>
                  
    
              </ul>
          </div>
          <div class="button-right">
              <button type="button" class="btn btn-light" routerLink="/expenses">+</button>
              <button type="button" class="btn btn-light">...</button>
              <button type="button" class="btn btn-light">X</button>
          </div>
      </div>
    </nav>
    <br>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-8">
        <h3>What's Next ?</h3>
        <p>Add this expense to a report and submit it to claim reimbursement.</p>
      </div>
      <div class="col-4">
      <div class="button-right">
          <button type="button" class="btn btn-primary" routerLink="/expenses">Add to Reports</button>
      </div>
      
      </div>
      </div>
    </div>
  </div>  
</div> -->