<!-- <p>testing works!</p>
<div *ngFor="let item of formArray; let i = index">
    data
    <button
    type="button"
    class="btn deleteButton btn-outline-secondary btn-sm"
    style="margin-right: 1rem"
    (click)="filterArray(i)"
    >
    <i class="fas fa-trash-alt"></i> Delete
    </button>
    
    <button
            type="button"
            class="btn saveButton btn-outline-secondary btn-sm"
            (click)="formArray.push({})"
          >
            Add another work experience
    </button>
</div> -->



<!-- <div class="content" ng-drop-image ng-model="image.src">
  <img ng-src="image.src" />
  <button class = "btn btn-secondary">Hello</button>
</div>

<script>
  angular.module('app', ['ngDropImage']);
</script>  -->

<!-- <input type="file" (change)="onFileChanged($event)">
<input
  style="display: none"
  type="file" (change)="onFileChanged($event)"
  #fileInput>
<button (click)="fileInput.click()">Select File</button>

<input
  style="display: none"
  type="file" (change)="onFileChanged($event)"
  #fileInput>
<button (click)="fileInput.click()">Select File</button>
<button (click)="onUpload()">Upload!</button> -->


<!-- 
<p>A custom dropzone.</p>

<div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" (change)="onSelect($event)">
	<ngx-dropzone-label>
		<div>
			<h2>My custom dropzone</h2>
		</div>
	</ngx-dropzone-label>
	<ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">
		<ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
	</ngx-dropzone-image-preview>
</div> -->

