div {
    font-family: Inter,Helvetica,Arial,sans-serif;
}

.nav{
    position: relative;
}

.draft {
    color: #797dac;
    background-color: #f1effb;
    border: 1px solid #fff;
    max-width: 350px;
    padding: 9px 9px;
    line-height: 3px;
    letter-spacing: 1.2px;
    border-radius: 3px;
    font-size: 9px;
    font-weight: 500;
    text-transform: uppercase!important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.btn-1 {
    padding: .5rem!important;
    color: #408dfb;
    text-decoration: none;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    font-size: .8125rem;
    line-height: 1.5;
    border-radius: 4px;
}

btn-1:hover {
    color: black;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled), summary {
    cursor: pointer;
}
    

.s-1 {
    width: 12px;
    height: 12px;
    fill: #408dfb;
}

.s-2 {
    width: 12px;
    height: 12px;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.btn-2 {
    border: 1px solid transparent;
    width: 35px;
    height: 35px;
    border-radius: 4px;
    background-color: #e9ebf6;
    padding: .4375rem .625rem;
    font-weight: bold;
}

.btn-3 {
    border: 1px solid transparent;
    width: auto;
    height: 35px;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    padding: .4375rem .625rem;
}

.sidebar {
    margin-top: -7px;
    margin-left: 79%;
    height: 91%;
    position: absolute;
    padding-top: 0px;
    width: 20%;
    background-color: #f8f8fd;
}

.bar-1 {
    padding: 0 15px;
    height: 56px;
    background: #f4f4fb;
    border-radius: 4px;
    width: 75%;
}

.s-3 {
    width: 15px;
    height: 15px;
    fill: #408dfb;
}

.s-4 {
    width: 15px;
    height: 15px;
}

.btn-4:hover {
    color: #408dfb;
    fill: #408dfb;
}   

.bar-2 {
    position: relative;
    margin-bottom: 25px;
    border: 1px solid #ececf9;
    border-radius: 4px;
    height: 110px;
    width: 910px
}

.box-1 {
    margin-left: 20px;
    margin-top: 30px;
}

.s-5{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #f4f4fb;
    width: 15px;
    height: 15px;
    fill: #696d9a;
}

.s-6{
    fill: #696d9a;
    width: 15px;
    height: 15px;
}

.sm{
    color: #696d9a;
    font-size: .6875rem;
}