div {
    font-family: Inter,Helvetica,Arial,sans-serif;
}

.nav{
    position: relative;
}

.draft {
    color: #797dac;
    background-color: #f1effb;
    border: 1px solid #fff;
    max-width: 350px;
    padding: 9px 9px;
    line-height: 3px;
    letter-spacing: 1.2px;
    border-radius: 3px;
    font-size: 9px;
    font-weight: 500;
    text-transform: uppercase!important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.btn-1 {
    padding: .5rem!important;
    color: #408dfb;
    text-decoration: none;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    font-size: .8125rem;
    line-height: 1.5;
    border-radius: 4px;
}

btn-1:hover {
    color: black;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled), summary {
    cursor: pointer;
}
    

.s-1 {
    width: 12px;
    height: 12px;
    fill: #408dfb;
}

.s-2 {
    width: 12px;
    height: 12px;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.btn-2 {
    border: 1px solid transparent;
    width: 35px;
    height: 35px;
    border-radius: 4px;
    background-color: #e9ebf6;
    padding: .4375rem .625rem;
    font-weight: bold;
}

.btn-3 {
    border: 1px solid transparent;
    width: auto;
    height: 35px;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    padding: .4375rem .625rem;
}

.sidebar {
    margin-top: -7px;
    margin-left: 68%;
    height: 91%;
    position: absolute;
    padding-top: 0px;
    width: 20%;
    background-color: #f8f8fd;
}

.bar-1 {
    padding: 0 15px;
    height: 56px;
    background: #f4f4fb;
    border-radius: 4px;
    width: 75%;
}

.s-3 {
    width: 15px;
    height: 15px;
    fill: #408dfb;
}

.s-4 {
    width: 15px;
    height: 15px;
}

.btn-4:hover {
    color: #408dfb;
    fill: #408dfb;
}   

.bar-2 {
    position: relative;
    margin-bottom: 25px;
    border: 1px solid #ececf9;
    border-radius: 4px;
    height: 110px;
    width: 910px
}

.box-1 {
    margin-left: 20px;
    margin-top: 30px;
}

.s-5{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #f4f4fb;
    width: 15px;
    height: 15px;
    fill: #696d9a;
}

.s-6{
    fill: #696d9a;
    width: 15px;
    height: 15px;
}

.sm{
    color: #696d9a;
    font-size: .6875rem;
}


/* side nav and header */

.sidenav {
    background-color: #f3f3fa;
    width: 15%;
    padding: 10px;
    height: 140vh;
  }
  .homeMenu {
    font-size: medium !important;
    padding-top: 10px;
  }
  .menuoptions {
    margin-bottom: 10px;
  }
  .menuoptions > a {
    text-decoration: none;
    color: darkslategray;
  }
  .menuoptions:hover,
  .menuoptions > a:hover {
    color: #0e85f3 !important;
    font-weight: bold;
    cursor: pointer;
  }
  .showme {
    display: none;
  }
  .menuoptions:hover .showme {
    display: block;
  }
  .group {
    background-color: #f3f3fa;
    margin-bottom: 25px;
    font-size: small;
    padding-left: 10px;
  }
  .switchBtn {
    font-size: x-small;
    color: #0e85f3;
    border-color: #0e85f3;
  }
  .switchBtn:hover {
    color: white;
    background-color: #0e85f3;
  }
  .rightbody {
    width: 85%;
  }
  .dash_body {
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    /* background-color: lightgray; */
    margin-top: 1rem;
  }
  .card {
    border: 1px solid lightgray;
  }
  .reports,
  .recentTrips,
  .fileUpload,
  .support {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  .fileUpload {
    align-items: center;
  }
  .fileUpload > .card {
    border: 1px solid black;
    border-style: dashed;
  }
  .btn {
    font-weight: 400;
    text-transform: capitalize;
  }
  .newExpenseBtn {
    background-color: #e1eff7;
    color: #0e85f3;
    font-weight: 400;
    text-transform: capitalize;
  }
  .newExpenseBtn:hover {
    background-color: #0e85f3;
    color: #e1eff7;
  }
  .right_body {
    float: left;
    width: 100%;
    overflow-y: auto;
    height: 80vh;
  }
  /* width */
  ::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: gray;
  }
  body {
    background-color: #454b65;
  }
  
  .bg {
    background-color: #333956;
  }
  
  #logo {
    width: 30px;
    height: 30px;
    border-radius: 4px;
  }
  .navbar {
    height: 3.5rem;
  }
  .navbar-brand {
    padding: 16px 22px;
    font-size: 25px;
  }
  
  .navbar-nav {
    width: 100%;
    position: relative;
    margin-left: 4rem;
    font-size: 12px;
    padding-top: 0.5rem;
  }
  
  .nav-item {
    padding: 6px 14px;
    text-align: center;
  }
  
  .nav-link {
    padding-bottom: 10px;
  }
  
  .v-line {
    background-color: gray;
    width: 1px;
    height: 20px;
  }
  
  .navbar-collapse.collapse.in {
    display: block !important;
  }
  
  @media (max-width: 576px) {
    .nav-item {
      width: 100%;
      text-align: left;
    }
  
    .v-line {
      display: none;
    }
  }
  .search-box {
    position: relative;
    margin-left: 3rem;
    /* margin-right: 4rem; */
    width: 22rem;
  }
  .search-box input {
    padding-right: 35px;
    min-height: 38px;
    border: none;
    background: #454b65;
    border-radius: 3px !important;
  }
  .search-box input:focus {
    background: #454b65;
    box-shadow: none;
  }
  .search-box .input-group-addon {
    min-width: 35px;
    border: none;
    background: transparent;
    position: absolute;
    right: 0;
    z-index: 9;
    padding: 10px 7px;
    height: 100%;
  }
  .search-box i {
    color: #a0a5b1;
    font-size: 19px;
  }
  .fa-plus {
    position: absolute;
    left: 18.3rem;
    bottom: 1.2rem;
  }
  