<div class="sidenav">
    <div class="homeMenu group">
  <a style="text-decoration: none; color: darkslategray" href="/home">
  <i class="fas fa-home"></i>&nbsp;&nbsp; Home</a>
    </div>
    <div class="group">
      <a style="text-decoration: none; color: darkslategray;" href="/trips">
      <div class="menuoptions">
        <i class="fas fa-suitcase"></i>&nbsp;&nbsp;&nbsp;&nbsp; Trips
        <div class="showme" style="margin-left: auto; float: right">
          <i class="fas fa-plus-circle"></i>
        </div>
      </div>
      </a>
      <a style="text-decoration: none; color: blue; " href="/tab">
      <div class="menuoptions">
        <i class="fas fa-file-invoice-dollar"></i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Expenses
        <div class="showme" style="margin-left: auto; float: right">
          <i class="fas fa-plus-circle"></i>
        </div>
      </div>
    </a>
    <a style="text-decoration: none; color: darkslategray; " href="/reports">
      <div class="menuoptions">
        <i class="fas fa-folder"></i> &nbsp;&nbsp;&nbsp;&nbsp;Reports
        <div class="showme" style="margin-left: auto; float: right">
          <i class="fas fa-plus-circle"></i>
        </div>
      </div>
    </a>
    <a style="text-decoration: none; color: darkslategray; " href="/advances">
      <div class="menuoptions">
        <i class="fas fa-rupee-sign"></i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Advances
        <div class="showme" style="margin-left: auto; float: right">
          <i class="fas fa-plus-circle"></i>
        </div>
      </div>
    </a>
    <a style="text-decoration: none; color: darkslategray; " href="/cards">
      <div class="menuoptions">
        <i class="far fa-credit-card"></i>&nbsp;&nbsp;&nbsp;&nbsp; Cards
        <div class="showme" style="margin-left: auto; float: right">
          <i class="fas fa-plus-circle"></i>
        </div>
      </div>
    </a>
    </div>
    <div class="group">
      <a style="text-decoration: none; color: darkslategray;" href="/approval">
      <div class="menuoptions">
          <i class="fas fa-check-circle"></i> &nbsp;&nbsp;&nbsp;&nbsp;Approvals
        <div class="showme" style="margin-left: auto; float: right">
          <i class="fas fa-plus-circle"></i>
        </div>
      </div>
      </a>
    </div>
    <div class="group">
      <a style="text-decoration: none; color: darkslategray;" href="/analytics">
      <div class="menuoptions">
          <i class="fas fa-chart-pie"></i> &nbsp;&nbsp;&nbsp;&nbsp;Analytics
          <div class="showme" style="margin-left: auto; float: right">
              <i class="fas fa-plus-circle"></i>
          </div>
      </div>
      </a>
      <a style="text-decoration: none; color: darkslategray;" href="/mysettings">
      <div class="menuoptions">
          <i class="fas fa-cog"></i> &nbsp;&nbsp;&nbsp; My Settings
          <div class="showme" style="margin-left: auto; float: right">
              <i class="fas fa-plus-circle"></i>
          </div>
      </div>
      </a>
    </div>
    <div class="group card">
        <div class="card-body">
          <i style="color: #fab683;" class="fas fa-laugh-beam"></i><small>&nbsp;&nbsp;&nbsp;&nbsp;Share Feedback</small><br>
          <i style="color: #a0a5ec;" class="fas fa-chart-line"></i><small>&nbsp;&nbsp;&nbsp;&nbsp;Request a Demo</small>
        </div>
    </div>
    <button class="switchBtn btn btn-outline-primary">Switch to Admin View</button>
</div>