<div style="display: flex; margin-left: 15px; margin-top: 15px;">
    <div style="margin-right: 40px;">
        <div class="card" style="width: 22rem">
            <div class="card-body" style="display: flex;">
              <div class="countBlock">
                <p class="countBlock-text">00</p>
              </div>
              <p class="card-text">Pending<br />Trips</p>
            </div>
          </div>
          
          <div class="card" style="width: 22rem">
              <div class="card-body card-bottom-body">
                <p class="card-bottom-text">No trips pending approval</p>
              </div>
          </div>      
    </div>
    <div>
        <div class="card" style="width: 22rem">
            <div class="card-body" style="display: flex;">
              <div class="countBlock">
                <p class="countBlock-text">00</p>
              </div>
              <p class="card-text">Pending<br />Reports</p>
            </div>
          </div>
          
          <div class="card" style="width: 22rem">
              <div class="card-body card-bottom-body">
                <p class="card-bottom-text">No reports pending approval</p>
              </div>
          </div>      
    </div>
</div>
