.App{
    min-height: 100vh;
    max-height: 100vh;
    max-width: 100vw;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    outline:gray 1px solid;
    outline-offset: -10px;
}

.nav-tabs .nav-item .nav-link {
    background-color: #F7F7FB;
    color: #4C8DFA;
}
.nav-tabs > li > a.basicInfoTab.active {
    color: black;
}
.nav-tabs > li > a.prefTab.active {
    color: black;
}
.nav-tabs > li > a.travelTab.active {
    color: black;
}
.tab-content {
    background: white;
}
