<div class="container-fluid top" >
   <div class="row pt-3 pb-2">
       <div class="col px-5 mt-1 ">
        <p><i class="fas fa-suitcase"></i> New Trip</p>
       </div>
     
       <div class="col">
        <a href="/trips"><button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button></a>
       </div> 
   </div>  

</div>


<form action="" class="container mt-3">
    
    
    <div class="">
        <label>Travel Type</label><br>
        <label class="radio-inline">
            <input type="radio" name="optradio" checked>&nbsp; Domestic &nbsp; &nbsp;
          </label>
          <label class="radio-inline">
            <input type="radio" name="optradio">&nbsp; International &nbsp;&nbsp;
          </label>
    </div>
    
    <div class="form-group my-2 pt-3">
        <label >Trip name*</label><br>
        <input  type="text" class=" form-control form-control-lg" required>
    </div>
      

    <div class="form-group my-2">
        <label >Business Purpose</label><br>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
      
    <div class="mt-5 ">
        <h6>TRIP ITINERARY</h6>
    
        <!--Flights-->
        <div class="row container">
            <div class="col-lg-2 mt-3 " style="text-align: left;">
                <i class="fas fa-plane-departure" style="background-color: grey;border: 2px solid; color: white; border-radius: 50%; padding: 10px;font-size: 25px; "></i>
                <p class="mt-3">Flight</p>
            </div>
            <div class="col-lg-10 trip_trans py-3">
                <div>
                    <label class="radio-inline">
                        <input type="radio" name="optradio" > &nbsp; One-Way &nbsp; &nbsp;
                      </label>
                      <label class="radio-inline">
                        <input type="radio" name="optradio">&nbsp; Round-Trip &nbsp;&nbsp;
                      </label>
                      <label class="radio-inline">
                        <input type="radio" name="optradio">&nbsp; Multi-Way &nbsp;&nbsp;
                      </label>
                </div>
                
                <hr >
                <div class="row px-2 ">
                    <div class="form-group my-2 pt-3 col-lg-2">
                        <label >Departure From*</label>
                        <input  type="text" class="form-control" required>
                    </div>

                    <div class="form-group my-2 pt-3 col-lg-3">
                        <label >Arrive At*</label>
                        <input  type="text" class="form-control" required>
                    </div>

                    <div class="form-group my-2 pt-3 col-lg-3">
                        <label >Departure Date</label>
                        <input  type="date" class="form-control" required>
                    </div>

                    <div class="form-group my-2 pt-3 col-lg-3">
                        <label >Arrival Date</label>
                        <input  type="date" class="form-control" required>
                    </div>

                    
                    <div class="form-group my-2 pt-3 col">
                        <label >Description*</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>

                    <div class="form-group my-2 pt-3 col">
                        <label >Departure Time*</label><br>
                        <input  type="time" class="form-control" required>
                    </div>

                    <div class="form-group my-2 pt-3 col">
                        <label >Arrive Time*</label><br>
                        <input  type="time" class="form-control" required>
                    </div>
                    

                </div>


                
            </div>



        </div>

        <!--HOTELS-->
        <div class="row container my-5">
            <div class="col-lg-2 mt-3 " style="text-align: left;">
                <i class="fas fa-hotel" style="background-color: grey;border: 2px solid; color: white; border-radius: 50%; padding: 10px;font-size: 25px; "></i>
                <p class="mt-3">Hotel</p>
            </div>
            <div class="col-lg-10 trip_trans py-3">
                
                <div class="row px-2 ">
                    <div class="form-group my-2 pt-3 col-lg-2">
                        <label >Location*</label>
                        <input  type="text" class="form-control" required>
                    </div>

                    <div class="form-group my-2 pt-3 col-lg-3">
                        <label >Check In*</label>
                        <input  type="date" class="form-control" required>
                        <input type="time" class="form-control">
                    </div>

                    <div class="form-group my-2 pt-3 col-lg-3">
                        <label >Check Out*</label>
                        <input  type="date" class="form-control" required>
                        <input type="time" class="form-control">
                    </div>

                    <div class="form-group my-2 pt-3 col-lg-3">
                        <label >Description</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                </div>

            </div>

        </div>

        <!--CAR RENTALS-->
        <div class="row container my-5">
            <div class="col-lg-2 mt-3 " style="text-align: left;">
                <i class="fas fa-car-side" style="background-color: grey;border: 2px solid; color: white; border-radius: 50%; padding: 10px;font-size: 25px; "></i>
                <p class="mt-3">Car Rentals</p>
            </div>
            <div class="col-lg-10 trip_trans py-3">
                
                <div class="row px-1 ">
                

                    <div class="form-group my-2 pt-3 ml-1 col">
                        <label >Pick Up</label>
                        <div class="row">
                            <div class="col">
                                <input  type="date" class="form-control" >
                            </div>
                            <div class="col-lg-4">
                                <input type="time" class="form-control">
                            </div>
                            
                            <div>
                                <input type="text" class="form-control" placeholder="Enter pickup city">        
                            </div>
                        </div>
                        
                        
                    </div>
                    <div class="form-group my-2 pt-3 ml-1 col">
                        <label >Drop Off</label>
                        <div class="row">
                            <div class="col">
                                <input  type="date" class="form-control" >
                            </div>
                            <div class="col-lg-4">
                                <input type="time" class="form-control">
                            </div>
                            <div>
                                <input type="text" class="form-control" placeholder="Enter drop city">        
                            </div>
                        </div>
                        
                        
                    </div>      
                     
                    <div class="row">
                        <div class="col">
                            <div class="input-group mb-3 my-2 pt-3 ml-1">
                                <div class="input-group-prepend">
                                  <label class="input-group-text" for="inputGroupSelect01">Car Type</label>
                                </div>
                                <select class="custom-select" id="inputGroupSelect01">
                                    
                                  <option value="1">small</option>
                                  <option value="2">medium</option>
                                  <option value="3">large</option>
                                </select>
                              </div>
                        </div>
                        
                        
                        <div class="col">
                            <div class="form-group my-2 pt-3 ml-1">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <label >Description</label>
                                    </div>
                                    <div class="col">
                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                    </div>
                                </div>
                                
                                
                            </div>
                        </div>




                    </div>
                    
                </div>

            </div>

        </div>

        <!--Bus-->
        <div class="row container my-5">
            <div class="col-lg-2 mt-3 " style="text-align: left;">
                <i class="fas fa-bus" style="background-color: grey;border: 2px solid; color: white; border-radius: 50%; padding: 10px;font-size: 25px; "></i>
                <p class="mt-3">Bus</p>
            </div>
            <div class="col-lg-10 trip_trans py-3">
                
                <div class="row px-2 ">
                    <div class="form-group my-2 pt-3 col-lg-3">
                        <label >Departure From*</label>
                        <input  type="text" class="form-control" required>
                    </div>

                    <div class="form-group my-2 pt-3 col-lg-3">
                        <label >Arrive At*</label>
                        <input  type="text" class="form-control" required>
                    </div>

                    <div class="form-group my-2 pt-3 col-lg-3">
                        <label >Departure Date</label>
                        <input  type="date" class="form-control" required>
                    </div>

                    <div class="form-group my-2 pt-3 col-lg-3">
                        <label >Description</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>

                    

              
    
                </div>

            </div>

        </div>



        <!--Train-->
        <div class="row container my-5">
            <div class="col-lg-2 mt-3 " style="text-align: left;">
                <i class="fas fa-train" style="background-color: grey;border: 2px solid; color: white; border-radius: 50%; padding: 10px;font-size: 25px; "></i>
                <p class="mt-3">Train</p>
            </div>
            <div class="col-lg-10 trip_trans py-3">
                
                <div class="row px-2 ">
                    <div class="form-group my-2 pt-3 col-lg-3">
                        <label >Departure From*</label>
                        <input  type="text" class="form-control" required>
                    </div>

                    <div class="form-group my-2 pt-3 col-lg-3">
                        <label >Arrive At*</label>
                        <input  type="text" class="form-control" required>
                    </div>

                    <div class="form-group my-2 pt-3 col-lg-3">
                        <label >Departure Date</label>
                        <input  type="date" class="form-control" required>
                    </div>

                    <div class="form-group my-2 pt-3 col-lg-3">
                        <label >Description</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>

                    

              
    
                </div>

            </div>

        </div>


        <!--Footer-->
        <footer class="px-3 my-5">
            <button type="button" class="btn btn-success">Save and Continue</button>&nbsp;
            <button type="button" class="btn btn-warning">Save as Draft</button> &nbsp;
            <button type="button" class="btn btn-danger">Cancel</button>
        
        </footer>



        




    </div>

    
</form>