.login_main {
    background-image: url("https://css.zohostatic.com/iam/M_4327508/v2/components/images/bg.svg");
    background-size: cover;
    background-size: 100%;
    height: 100vh; 
}
.card {
    /* margin: auto; 
    width: 65%; */
    position:fixed;
    top: 14%;
    left: 18%;
    width:65%;
    height:fit-content;
}
.card-body {
    display: flex;
}
.card-left {
    border-right: 2px solid lightgray;
    width: 60%;
}
.card-right {
    padding: 10px;
    width: 40%;
    text-align: center;
}
.right_maintext {
    font-size: 20px;
    margin-top: 1rem;
}
.right_subtext {
    font-size: 12px;
}
.right_learnmore {
    color: #0075ce;
}
.signIn_text {
    font-size: 28px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.signIn_text > span {
    font-size: 18px;
}
.form-control {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: auto;
    outline: 0;
    border-radius: 3px;
    padding: 10px 12px 10px 35px;
    border: 1px solid gray;
}
.form-control:focus {
    border-color: blue;
    box-shadow: none;
}
.signup-btn {
    font-size: 18px;
    width: 50%;
    padding: 12px 0;
    background-color: #1798FA;
    border-color: none;
    color: white;
}
.signup-btn:hover {
    background-color: #0075ce;
}
.submit_button {
    margin-top: 1rem;
}