<div class="login_main">
  <div class="card">
    <div class="card-body">
      <div class="card-left">
        <form #login="ngForm" (ngSubmit)="onClickLogin(login.value)">
          <img
            style="width: 250px; border-radius: 8px"
            src="https://res.cloudinary.com/crunchbase-production/image/upload/c_lpad,f_auto,q_auto:eco,dpr_1/penxmpxq8civh7roulni"
          />
          <h3 class="signIn_text">
            Sign in<br />
            <span>to access Expense</span>
          </h3>
          <input
            type="text"
            class="form-control"
            tabindex="1"
            placeholder="Email address"
            name="email"
            ngModel
          />
          <input
            type="password"
            class="form-control"
            tabindex="5"
            placeholder="Password"
            name="pwd"
            ngModel
          />
          <div class="form-group submit_button">
            <button
              type="submit"
              class="btn login-btn"
              name="za-signup-btn"
              id="za-signup-btn"
              tabindex="10"
              style="opacity: 1"
            >
              LOGIN
            </button>
          </div>
          <p>New to us ?</p>
          <p>Join us by <a href="/signup" class="signup-btn">signing up</a> here</p>
        </form>
      </div>
      <div class="card-right">
        <img
          src="https://css.zohostatic.com/iam/M_4327508/v2/components/images/Passwordless@1x.png"
        />
        <p class="right_maintext">Experience Passwordless Sign-in</p>
        <p class="right_subtext">
          Move away from risky passwords and experience one-tap access to your
          Zoho account. Download and install Zoho OneAuth.
        </p>
        <p class="right_learnmore">
          <a
            target="_blank"
            href="https://www.zoho.com/blog/accounts/oneauth-reborn-say-hello-to-passwordless-sign-in.html"
            >Learn more</a
          >
        </p>
      </div>
    </div>
  </div>
</div>
