<div class="login_main">
  <div class="card">
    <div class="card-body">
      <div class="card-left">
        <img
          style="width: 100px"
          src="https://css.zohostatic.com/iam/M_4327508/v2/components/images/Zoho_logo.png"
        />
        <h3 class="signIn_text">
          Sign in<br />
          <span>to access Expense</span>
        </h3>
        <input
          type="text"
          class="form-control"
          tabindex="1"
          placeholder="Email address"
        />
        <input
          type="password"
          class="form-control"
          tabindex="5"
          placeholder="Password"
        />
        <div class="form-group submit_button">
          <button
            type="submit"
            class="btn signup-btn"
            name="za-signup-btn"
            id="za-signup-btn"
            tabindex="10"
            style="opacity: 1"
          >
            CREATE ACCOUNT
          </button>
        </div>
      </div>
      <div class="card-right">
        <img
          src="https://css.zohostatic.com/iam/M_4327508/v2/components/images/Passwordless@1x.png"
        />
        <p class="right_maintext">Experience Passwordless Sign-in</p>
        <p class="right_subtext">Move away from risky passwords and experience one-tap access to your Zoho account. Download and install Zoho OneAuth.</p>
        <p class="right_learnmore"><a target="_blank" href = "https://www.zoho.com/blog/accounts/oneauth-reborn-say-hello-to-passwordless-sign-in.html">Learn more</a></p>
      </div>
    </div>
  </div>
</div>
