<br>
<div class="card">
    <div class="card-header">
        PERSONAL DETAILS
    </div>
    <div class="card-body" style="display: flex;">
        <div style="border-right: 1px solid lightgray; width: 50%;">
            <table class="table-borderless">
                <tbody>
                  <tr>
                    <td class="details">Name</td>
                    <td class="detailsright">{{name[0]}}</td>
                  </tr>
                  <tr>
                    <td class="details">Email Address</td>
                    <td class="detailsright">{{obj.email}}</td>
                  </tr>
                  <tr>
                    <td class="details">Employee ID</td>
                    <td class="detailsright">-</td>
                  </tr>
                  <tr>
                    <td class="details">Mobile</td>
                    <td class="detailsright">-</td>
                  </tr>
                  <tr>
                    <td class="details">Department</td>
                    <td class="detailsright">-</td>
                  </tr>
                  <tr>
                    <td class="details">Date of joining</td>
                    <td class="detailsright">-</td>
                  </tr>
                  <tr>
                    <td class="details">Date of birth</td>
                    <td class="detailsright">-</td>
                  </tr>
                  <tr>
                    <td class="details">Designation</td>
                    <td class="detailsright">-</td>
                  </tr>
                </tbody>
            </table>
        </div>
        <div style="width: 50%;">
            <table class="table-borderless">
                <tbody>
                  <tr>
                    <td class="details">Role Name</td>
                    <td class="detailsright">Admin</td>
                  </tr>
                  <tr>
                    <td class="details">Submits To</td>
                    <td class="detailsright">-</td>
                  </tr>
                </tbody>
            </table>
            <hr>
            <div style="padding-left: 20px;">
                <p>ASSOCIATED POLICIES</p>
            </div>
        </div>
    </div>
</div>
<hr style="width: 70%; margin-left: 20px;">
<div class="card">
    <div class="card-header">
        TRAVEL DETAILS
    </div>
    <div class="card-body">
        <div style="display: flex;">
            <div style="border-right: 1px solid lightgray; width: 50%;">
                <table class="table-borderless">
                    <tbody>
                      <tr>
                        <td class="details">Name as in Passport</td>
                        <td class="detailsright">{{name[0]}}</td>
                      </tr>
                      <tr>
                        <td class="details">D.O.B. as in Passport</td>
                        <td class="detailsright">-</td>
                      </tr>
                      <tr>
                        <td class="details">Gender</td>
                        <td class="detailsright">-</td>
                      </tr>
                      <tr>
                        <td class="details">Personal email</td>
                        <td class="detailsright">{{obj.email}}</td>
                      </tr>
                      <tr>
                        <td class="details">Personal mobile</td>
                        <td class="detailsright">-</td>
                      </tr>
                    </tbody>
                </table>
            </div>
            <div style="width: 50%;">
                <table class="table-borderless">
                    <tbody>
                      <tr>
                        <td class="details">Fax</td>
                        <td class="detailsright">-</td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <hr>
        <div>
            <div style="padding-left: 20px;">ADDRESS</div>
            <div style="display: flex;">
                <div style="border-right: 1px solid lightgray; width: 50%;">
                    <table class="table-borderless">
                        <tbody>
                          <tr>
                            <td class="details">Home address</td>
                            <td class="detailsright">-</td>
                          </tr>
                          <tr>
                            <td class="details">Home phone</td>
                            <td class="detailsright">-</td>
                          </tr>
                        </tbody>
                    </table>
                </div>
                <div style="width: 50%;">
                    <table class="table-borderless">
                        <tbody>
                          <tr>
                            <td class="details">Work address</td>
                            <td class="detailsright">-</td>
                          </tr>
                          <tr>
                            <td class="details">Work phone</td>
                            <td class="detailsright">-</td>
                          </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>