
<div class="card w-75 ">
    <div class="card-body">
      <h5 class="card-title " style = "font-size: medium;">EXPENSE</h5>
      <p class="card-text">Know how much you've spent on business expenses by running analytics based on various parameters</p>
      <br>
      <div class="row">
          <div class="col">
            <p>✩Expense Details</p> 
            <p>✩Expenses by Customer</p>
            <p>✩Expenses by Currency</p>
          </div>
          <div class="col">
            <p>✩Expenses by Category</p> 
            <p>✩Expenses by Project</p>
            
          </div>
          <div class="col">
            <p>✩Expenses by Attendee</p> 
            <p>✩Expenses by Merchant</p>
            
          </div>
      </div>
       
     

      
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title" style = "font-size: medium;">REPORTS</h5>
          <p class="card-text">View statistics of the expense reports you've created and resolve the policy violations in your reports</p>
            <p>✩Expense Report Details</p>
            <p>✩Policy Violations</p>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title" style = "font-size: medium;">TRIPS</h5>
          <p class="card-text">Get a summary of the business trips you've undertaken and the statuses of your trips and trip reports</p>
          <p>✩Trips Details</p>
          <p>✩Trips Stage Summary</p>
          <p>✩Trips Summary By Report Status</p>
        </div>
      </div>
    </div>
  </div>
  


  <div class="card w-50">
    <div class="card-body">
      <h5 class="card-title" style = "font-size: medium;">ACTIVITIES</h5>
      <p class="card-text">View all the activities you've performed in Zoho Expense for a particular period</p>
      <p>✩Activity Logs</p>
    </div>
  </div>

