<div class= "row">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="collapse navbar-collapse" id="#">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/addexpense">Add Expense</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/bulkaddexpense">Bulk Add Expense</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/fromcards">Add Cards</a>
        </li>
  
      </ul>
      </div>
  </nav>

</div>



<div class="container">



  
    <div class="row">
      <div class="col-md-12">
        <br>
        <button class="btn btn-default pull-right add-row"><i class="fa fa-plus"></i>&nbsp;&nbsp; Add Row</button>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-12">
        <table class="table table-bordered" id="editableTable">
          <thead>
            <tr>
              <th></th>
              <th>EXPENSE DATE*</th>
              <th>MERCHANT</th>
              <th>CATEGORY*</th>
              <th>AMOUNT*</th>
              <th>REIMBURSABLE</th>
              <th>DESCRIPTION</th>
              <th>REFERENCE</th>

            </tr>
            
          </thead>
          <tbody>
            <tr data-id="1">
              <td data-field="name">Dave Gamache</td>
              <td data-field="birthday">May 19, 2015</td>
              <td data-field="age">26</td>
              <td data-field="sex">Male</td>
              <td>
              </td>
            </tr>



            <tr data-id="2">
              <td data-field="name">Dwayne Johnson</td>
              <td data-field="birthday">May 19, 2015</td>
              <td data-field="age">42</td>
              <td data-field="sex">Male</td>
              <td>
              </td>
            </tr>
            <tr data-id="3">
              <td data-field="name">Halyna Nadia</td>
              <td data-field="birthday">May 25, 2015</td>
              <td data-field="age">22</td>
              <td data-field="sex">Female</td>
              <td>

                
                <a class="button button-small edit" title="Edit">
                  <i class="fa fa-pencil"></i>
                </a> <a class="button button-small" title="Delete">
                  <i class="fa fa-trash"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>