<nav class="navbar navbar-default navbar-expand-md navbar-light fixed-top">
  <div class="topnav navbar navbar-expand-lg">
      <a href="">Unreported Expenses</a>
      <a href="">All Expenses</a>
      

      
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
              
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">|

                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">All</a>
                      <a class="dropdown-item" href="#">Expired</a>
                      <a class="dropdown-item" href="#">Uncategorized</a>
                      <div class="dropdown-divider"><hr></div>
                      <a class="dropdown-item" href="#">+ New Custom view</a>
                  </div>
              

          </ul>
      </div>
      <div class="button-right">
          <button type="button" class="btn btn-primary" routerLink="/expenses">New Expenses +</button>
          <button type="button" class="btn btn-light">...</button>
          <button type="button" class="btn btn-outline-primary">?</button>
      </div>
  </div>
</nav>
<div class="body">
  
  <div class="align-items-center justify-content-centered">
    <div class="App">
      <div class="custom-dropzone" style= " height: 450px; width: 650px;" ngx-dropzone [accept]="'image/*'" (change)="onSelect($event)">
        <ngx-dropzone-label>
          <div>
            <h1 style="font-size: x-large;">Drag & Drop Receipts</h1>
            <h2 style="font-size: small;">or click here to upload</h2>
            <div>
              <div class="btn-group">
                <button type="button" class="btn btn-primary btn-sm">Autoscan Receipts</button>
                <button type="button" class="btn btn-primary btn-sm dropdown-toggle dropdown-toggle-split" id="dropdownMenuReference" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-reference="parent">
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
                  <a class="dropdown-item" href="#">From Computer</a>
                  <a class="dropdown-item" href="#">From Clouds</a>
              </div>
            </div>
          
              <a href="#" class="btn btn-primary btn-sm disabled" role="button" aria-disabled="true">+ New Expense</a>
            </div>           
          </div>
        </ngx-dropzone-label>
        <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">
        </ngx-dropzone-image-preview>
      </div>    
 </div>
</div>

</div>
<div class="footer bg-light">
  <p class="text-warning text-center ">HELP</p>
  <p class="text-center" style="font-size:large;">Life cycle of a Expenses</p>
  <img class="mx-auto d-block img-fluid" style="width: 40rem;" src="https://dhd53jy3n33fn.cloudfront.net/zexpense/assets/images/expense-flow-2x-fc121a50fb1eae5078c47fe0638f349a.png">
</div>
